body {
  background-color:#FFFAF1 ;
}
h1{
  color: black
}
h3
{
  color: black
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #CEE5D0;
  border-width: 3px;
  width: 5%;
}
a:hover{
  color: black;
}
figcaption
{
  color: #551A8B
}
